.orange {
    color: var(--yellow-4);
}
.font-12 {
    font-size: 12px;
}
.no-min-height {
    min-height: 0px;
}
.darker {
    background-color: var(--view-bg-color);
}
listview cell {
    padding: 1px 8px;
}
.toggle {
    padding: 6px;
    min-height: 0px;
    font-size: 12px;
}

scrolledwindow {
    background-color: var(--view-bg-color);
}

.fz:focus {
    /*background-color: red;*/
}
